/labs
/paper
OS_Assignments/assignment 2
OS_Assignments/OS_A1/Assignment-1.pdf
OS_Assignments/OS_A1/part a/t3.sh
OS_Assignments/OS_A3/Assignment_3.pdf
Os_labs/OS_L1/Lab 5.docx
Os_labs/OS_L1/Lab 5.pdf
Os_labs/OS_L2/20I-0506_Lab6.pdf
Os_labs/OS_L2/20I-0506_Lab6.docx
Os_labs/OS_L3/Lab7.pdf
Os_labs/OS_L3/Lab7.docx
Os_labs/OS_L5/20I-0506_lab9.docx
Os_labs/OS_L5/20I-0506_lab9.pdf
